@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@*
For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Webculture = System.Globalization.CultureInfo.CurrentCulture;
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem
            {
                Value = x.Name,
                Text =
            localizer.GetString(x.Name)
            });
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" :
    $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

@if (Webculture.Name == "en")
{
    <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"><span>عربي</span></a>

    <form id="my_form" asp-route-returnUrl="@returnUrl" asp-controller="Home" asp-action="CultureManagement">
        <input type="hidden" value="ar-IQ" name="culture" />
        @* <input style="border: none;" class="" value="عربي" type="submit" /> *@
    </form>
}
else
{
    <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"><span>En</span></a>
    <form id="my_form" asp-route-returnUrl="@returnUrl" asp-controller="Home" asp-action="CultureManagement">
        <input type="hidden" value="en" name="culture" />
        @* <input class="" value="EN" type="submit" /> *@
    </form>

}
@* <form asp-route-returnUrl="@returnUrl" asp-controller="Home" asp-action="CultureManagement">
<select onchange="this.form.submit();" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"
name="culture"></select>
</form>*@