@*testing from saif*@
@using System.Globalization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    List<SelectListItem> cultureItems = new List<SelectListItem>();
    cultureItems.Add(new SelectListItem { Text = "عر", Value = "ar-LY" });
    cultureItems.Add(new SelectListItem { Text = "En", Value = "en" });
}
<!DOCTYPE html>
<html dir="" lang="ar">
<head id="head">
        @await Component.InvokeAsync("Head")
</head>
<body>

    <!-- Navbar Start -->
    <main class="main-wrapper">
        @await Component.InvokeAsync("Header")


    </div>
    <!-- Navbar End -->

    @* <div class="">
        <main role="main" class="pb-3"> *@
            @RenderBody()
        @* </main>
    </div> *@

    @await Component.InvokeAsync("Footer")
    <!-- Footer Start -->
    <!-- JavaScript Libraries -->
    @*    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    *@
    

    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
   
    <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/assets/js/plugins/aos.js"></script>
    <script src="/assets/js/plugins/parallax.js"></script>
    <script src="/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/jquery.powertip.min.js"></script>
    <script src="/assets/js/plugins/nice-select.min.js"></script>
    <script src="/assets/js/plugins/glightbox.min.js"></script>
    <script src="/assets/js/plugins/jquery.sticky-kit.min.js"></script>
    <script src="/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/plugins/masonry.pkgd.min.js"></script>
    <script src="/assets/js/plugins/flatpickr.js"></script>
    <script src="/assets/js/plugins/range-slider.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>

@if (culture.Name == "en")
    {
        <script>
            $('html').attr('dir', 'ltr')
            $('html').attr('lang', 'en')
            $('#arBootstrap').remove()
            $('#arStyle').remove()
        </script>
        
    }
    else
    {
        <script>
            $('html').attr('dir', 'rtl')
             $(".swiper").attr('dir', 'rtl')
            $('html').attr('lang', 'ar')
            $('#enBootstrap').remove()
            $('#enStyle').remove()

        </script>
       
    }
    <!-- Activation JS -->
    <script src="/assets/js/main.js"></script>
    

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
